
<style>
    @media only screen and (max-width: 768px){
    /* For mobile phones: */
        .navbar-brand img {
            height: 85px;
            width: 380px;
        }

        .mid{
            width: 345px;
        }

        .mid-card{
            width: 345px;
            margin-left: 15px;
        }

    }

    @media only screen and (min-width: 768px) {
    /* For Desktops: */
        .navbar-brand img {
            margin-left: 650px;
        }

        .mid{
            width: 870px;
            height: 307px;
        }

        .mid-card{
            margin-left: 15px;
            width: 870px;
        }

    }
</style>


<div class="dashboard-content">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="single-currency-box">
                <h4 style="font-family: 'Gill Sans'; letter-spacing: 1px;">Lumy Bronze Plan</h4>
                <p><b>40%</b> RETURNS</p>
                <br>
                <a href="login.html" class="bttn-small btn-emt">Choose Plan</a>
            </div>
            
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="single-currency-box">
                <h4 style="font-family: 'Gill Sans'; letter-spacing: 1px;">Lumy Silver Plan</h4>
                <p><b>85%</b> RETURNS</p>
                <br>
                <a href="login.html" class="bttn-small btn-emt">Choose Plan</a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="single-currency-box">
                <h4 style="font-family: 'Gill Sans'; letter-spacing: 1px;">Lumy Gold Plan</h4>
                <p><b>130%</b> RETURNS</p>
                <br>
                <a href="login.html" class="bttn-small btn-emt">Choose Plan</a>
            </div>
        </div>
        <!-- <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12"> -->
            <div class="dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="dashboard-inner-content ">
                            <div class="card mid-card">
                                <h5 style="color:#fbf8be; font-family: 'Gill Sans'; letter-spacing: 2px;" class="card-header">INVEST ON LUMY BRONZE PLAN</h5>
                                <div class="card-body">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                <!-- <label for="a-trans">CVV</label> -->
                                                <h5 style="color:gray; font-size: 16px; margin-left:8px; font-family: 'Gill Sans';">3 Investment Circles.</h5></div>
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                    <!-- <label for="chargedfffffg">Expiry Month</label> -->
                                                    <h5 style="color:gray; font-size: 16px; margin-left:8px; font-family: 'Gill Sans';">75 Working Days.</h5></div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                <!-- <label for="chargedfffffg">Expiry Year</label> -->
                                                <h5 style="color:gray; font-size: 16px; margin-left:8px; font-family: 'Gill Sans';">$100 - $999.</h5></div>

                                                <br><br>
                                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
                                                <input type="email" placeholder="Enter Card Number"></div>
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                                    <button type="submit">INVEST</button>
                                                 </div>
                                            
                                            
                                                
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
       
    </div>
</div>